@media (max-width: 1599px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
  .hero-heading h2 {
    font-size: 30px;
    text-align: start;
  }
  .hero-heading h1 {
    font-size: 40px;
    text-align: start;
  }
  .hero-heading p {
    font-size: 22px;
  }
  .hero-section .hero-content .help-btn {
    margin-right: 200px;
  }
}
